# dictionaries

In [ ]:
# In dictionary we define any type of data
#it takes key for indexing purpose and value to store at that key
# it is defined within curly braces{}
#indexing and slicing cannot be done because we can access the item using key and value

In [1]:
#empty dictionay
dict1={}
print(type(dict1))

<class 'dict'>

In [5]:
#integer key
dict2={1:'shrey',2:3.04 , 3:'john'}  #1 is key and shrey is value
print(dict2)   #here the key is only in integer type

{1: 'shrey', 2: 3.04, 3: 'john'}

In [6]:
#mixed key
dict3={1:'shreyansh', 2:3.045, 'name':'john', 'a':[1,2,3]} 
print(dict3) #here the key in mixed type (int,float,char,string,list)

{1: 'shreyansh', 2: 3.045, 'name': 'john', 'a': [1, 2, 3]}

In [12]:
#paring
dict4=dict([(1,'apple'),(2,'ball'),('name','john'),(3.04,'float')]) #must enclosed with tuple() and then list[]
                                         #data should be defined inside tuple nothing but paranthesis()
                                         #must be used with dict keyword
print(dict4)

{1: 'apple', 2: 'ball', 'name': 'john', 3.04: 'float'}

In [16]:
a=dict({('name','shrey'),('roll number',15),(2,75)})
print(a)

{'name': 'shrey', 2: 75, 'roll number': 15}

In [17]:
b={1:2,2:'max',3:30000.45}
print(b)

{1: 2, 2: 'max', 3: 30000.45}

In [18]:
print(dict3)

{1: 'shreyansh', 2: 3.045, 'name': 'john', 'a': [1, 2, 3]}

In [19]:
#accessing dictionary items by using key not index and in return it will give the value at that particular key
dict3[1]

'shreyansh'

In [20]:
dict3['name'] #here name is the key ,which is defined inside dictionary

'john'

In [21]:
dict3['a']

[1, 2, 3]

In [26]:
#length function is used to find the length of dictionary which start from 1 to n
en(dict3)

4

In [28]:
len(b)
len(a)

3

In [29]:
len(a)

3

In [37]:
print(dict2)

{1: 'shrey', 2: 3.04, 3: 'john'}

In [38]:
d={1:2,2:'st','name':'shrey',4:'john',3.04:'float'}
len(d)

5

In [51]:
#keys function
d.keys()  #must use s after key, it should be keys not key, otherwise it will give error

dict_keys([1, 2, 'name', 4, 3.04])

In [52]:
#value function
d.values()  #must use s after value, it should be values not value, otherwise it will give error

dict_values([2, 'st', 'shrey', 'john', 'float'])

# sets

In [ ]:
#it unordered collection of items
#must define within curly braces{}
#it doesn't include keys along with it only values.
#all type of datatype can be stored

In [53]:
#creating sets
a={1,2,3,'b','john',3.88}
print(a)

{1, 2, 3, 'john', 3.88, 'b'}

In [54]:
print(type(a))

<class 'set'>

In [58]:
#union:- it will give all the value from both set but without repetation
s1={1,2,'b','f','shrey',3.04,5,3}
s2={1,2,'j','john','b',3.04,5}
s1|s2   #vertical bar(|) is used for finding union
#it will give output in a ordered way

{1, 2, 3, 3.04, 5, 'b', 'f', 'j', 'john', 'shrey'}

In [59]:
#intersection:- it will give common elements which is present in both sets
s1={1,2,'b','f','shrey',3.04,5,3}
s2={1,2,'j','john','b',3.04,5}
s1&s2  #ampersand(&)is used to find intersection

{1, 2, 3.04, 5, 'b'}

In [60]:
#Difference:- it will ignore or ommits the common value and give the unique value from set A only not from B
s1={1,2,'b','f','shrey',3.04,5,3}
s2={1,2,'j','john','b',3.04,5}
s1-s2 #hyphen(-) is used for finding differnce
# as from output it is clearly noticed that 1,2,b,3.04,5 is common in both sets and also j and john is unique 
#in set B but it will be ignored an only take the unique value present in set A that is f,shrey,3

{3, 'f', 'shrey'}

In [15]:
a={'maths':78,'english':86,'sceince':78,'computer':90}
def calculate(a):
    sum=0
    for i in a.values():
        sum+=i
    b=sum/len(a)
    print(b)
    print(a.values())
    print(a.keys())
calculate(a)

83.0
dict_values([78, 86, 78, 90])
dict_keys(['maths', 'english', 'sceince', 'computer'])

In [24]:
n = 3
d = dict(input().split() for _ in range(n))
print (d)

shrey tyagu
shreynahs absb
sasj jsn
{'shrey': 'tyagu', 'shreynahs': 'absb', 'sasj': 'jsn'}

In [33]:
n = int(input('enter the value: '))
d = dict(input().split() for i in range(n))
print (d)

enter the value: 4
shrey tyagi
age 21
college kiet
gf no
{'shrey': 'tyagi', 'age': '21', 'college': 'kiet', 'gf': 'no'}

In [37]:
n=int(input('entre the value: '))
d=dict(input().split() for i in range(n))
def calculate(a):
    sum=0
    for i in a.values():
        sum+=int(i)
    b=sum/len(d)
    print(b)
calculate(d)

entre the value: 2
m 10
e 10
10.0

In [3]:
n=int(input('entre the value: '))
d=dict(input().split() for i in range(n))
def calculate(a):
    sum=0
    for i in a.keys():
        sum+=int(i)
    b=sum/len(d)
    print(b)
calculate(d)

entre the value: 3
10 maths
20 english
30 computer
20.0

In [14]:
n=int(input('entre the value: '))
d=dict(input().split() for i in range(n))
def calculate(a):
    sum=0
    for i,j in a.items():
        sum+=int(j)
    print(sum)    
    b=sum/len(d)   
    print(b)
    print(d) 
calculate(d)

entre the value: 5
c 95
python 90
sql 100
git 100
oops 10
395
79.0
{'c': '95', 'python': '90', 'sql': '100', 'git': '100', 'oops': '10'}

In [2]:
#x1.symmetric_difference(x2)
a={1,2,3,4,5}
b={2,3,5,6,7,8} #return all the values either in a or in b except commom values
print(a^b)
print(a.symmetric_difference(b))

{1, 4, 6, 7, 8}
{1, 4, 6, 7, 8}

In [4]:
# x1.isdisjoint(x2)
a={1,2,3,4,5}
b={2,3,5,6,7,8}
c={9,10,11}
print(a.isdisjoint(b))  #if no value is common then give true otherwise false
print(b.isdisjoint(c))

False
True

In [6]:
# x1.issubset(x2)
a={1,2,3,4,5}
b={2,3,5,}
print(a.issubset(b))
print(b.issubset(a)) # subset is when all element of set a is in set b

False
True

In [ ]:
# x1.issuperset(x2)
a={1,2,3,4,5}
b={2,3,5,6,7}