# enumeration in python

In [7]:
a=['shrey','shreyansh','tyagi','sunny']
b=['shreyansh']
c='shreyansh'
obj=enumerate(a)
print(obj) #this will return the type of a variable which is of enumeration type 
# to print the result we must pass this into a list 
print(list(enumerate(a)))
# we can also give the start value that from where we want to start the enumerated value 
print(list(enumerate(a,5)))
print(list(enumerate(b)))
print(list(enumerate(b,3)))
print(list(enumerate(c)))
print(list(enumerate(c,4)))

<enumerate object at 0x7f66385d3e10>
[(0, 'shrey'), (1, 'shreyansh'), (2, 'tyagi'), (3, 'sunny')]
[(5, 'shrey'), (6, 'shreyansh'), (7, 'tyagi'), (8, 'sunny')]
[(0, 'shreyansh')]
[(3, 'shreyansh')]
[(0, 's'), (1, 'h'), (2, 'r'), (3, 'e'), (4, 'y'), (5, 'a'), (6, 'n'), (7, 's'), (8, 'h')]
[(4, 's'), (5, 'h'), (6, 'r'), (7, 'e'), (8, 'y'), (9, 'a'), (10, 'n'), (11, 's'), (12, 'h')]

### using enumeration in loops:

In [33]:
n=int(input('enter the size of list: '))
a=list(map(int,input('enter the element into the list: ').split()))[:n]
for i in enumerate(a,5):
    print(i)
for i,j in enumerate(a,20):
    print(i,j)
for i,j in enumerate(a):
    print(i,j)

enter the size of list: 5
enter the element into the list: 1 2 3 4 5
(5, 1)
(6, 2)
(7, 3)
(8, 4)
(9, 5)
20 1
21 2
22 3
23 4
24 5
0 1
1 2
2 3
3 4
4 5

# zip function in python

In [32]:
a=['shrey','shreyansh','sunny']
age=[22,23,20]
marks=[80,89,78]
address=['ghaziabad','delhi','meerut']
zipping=zip(a,age,marks,address)
print(zipping) #it will simply create a object of zip type 
# it will zip the value only in one container at a time wheather it is of list type of set type
print(str(zipping))
print(set(zipping))
print(list(zipping))

<zip object at 0x7f6638546960>
<zip object at 0x7f6638546960>
{('shrey', 22, 80, 'ghaziabad'), ('sunny', 20, 78, 'meerut'), ('shreyansh', 23, 89, 'delhi')}
[]

### how to unzip the vlaues

In [39]:
a=['shrey','shreyansh','sunny']
age=[22,23,20]
marks=[80,89,78]
address=['ghaziabad','delhi','meerut']
zipping=zip(a,age,marks,address)
zipping=list(zipping)
print(zipping)
a1,age1,marks1,address1=zip(*zipping)
print(a1)
print(age1)
print(marks1)
print(address1)

[('shrey', 22, 80, 'ghaziabad'), ('shreyansh', 23, 89, 'delhi'), ('sunny', 20, 78, 'meerut')]
('shrey', 'shreyansh', 'sunny')
(22, 23, 20)
(80, 89, 78)
('ghaziabad', 'delhi', 'meerut')

In [52]:
a=['shrey','shreyansh','shreya','sunny']
computer_marks=[78,89,80,70]
maths_marks=[67,78,89,90]
total_marks=[]
print(f'student name: {a}')
print(f'computer_marks: {computer_marks}')
print(f'math_marks: {maths.marks}')
for i,j in enumerate(computer_marks):
    total_marks.append(maths_marks[i]+j)
print(total_marks) 
b=[]
for i,j in enumerate(total_marks):
    b.append(j//2)
    print(j//2)
zipping=zip(a,total_marks,b)
zipping=list(zipping)
print(zipping)

student name: ['shrey', 'shreyansh', 'shreya', 'sunny']
computer_marks: [78, 89, 80, 70]

NameError: name 'maths' is not defined